public/bookShops.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="shops">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="shop" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="address"/>
                            <xs:element name="coordinates">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="latitude"/>
                                        <xs:element type="xs:float" name="longitude"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:positiveInteger" name="phone"/>
                            <xs:element type="xs:string" name="url"/>
                            <xs:element name="pictures">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="picture" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="source" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
